html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #ffe500;
}

main {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: white;
  padding: 0;
}

ul {
  list-style-type: none;
  text-align: center;
  color: #fff;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  color: #cc1465;
  display: block;
  margin: 0;
}

.box {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.box li {
  display: inline-block;
  margin: .17em 0;
  padding: .75em;
  background-color: #b2a212;
  border-radius: 4.7px;
  max-width: 20em;
}

.box li:hover {
  background-color: #cc1465;
}

header {
  display: block;
  margin: 0;
  padding: .8em;
  background-color: #ffe500;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: "Sigmar One";
  color: #cc1465;
}

footer {
  text-align: center;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}
