html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: white;
}

main {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: white;
  padding: 0;
  line-height: 1.7em;
}

ul {
  list-style-type: none;
  text-align: center;
  color: #fff;
}

li {
  margin: 1em;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  color: #cc1465;
  display: block;
  margin: 0;
  font-size: 3em;
}

.box {
  margin: 0;
  padding: .5em;
  list-style-type: none;
  text-align: center;
}

.box li {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #b2a212;
  border-radius: 4.7px;
  max-width: 20em;
}

.box a:hover {
  background-color: #cc1465;
}

header {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #ffe500;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 1em;
  background-color: #b2a212;
  border-radius: 4.7px;
  max-width: 20em;
}

.current {
  background-color: #b20953;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: block;
}

h2 {
  font-family: "Sigmar One";
  color: #cc1465;
  font-size: 1.875rem;
  padding: 0;
  margin: .5em;
}

footer {
  text-align: center;
  display: block;
  font-size: 0.75rem;
  background-color: #ffe500;
  padding: 2em;
}

body {
  margin: 0;
}

p {
  padding: 0;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
}
